<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Servicios</title>
</head>

<body>
    <nav class="menu">
        <div>
            <p class="blanco">Diseño</p>
            <p class="azul">Multimedia</p>
        </div>
        <ul>
            <a class="items_menu azul2" href="../index.html">INICIO</a>
            <a  class="items_menu"href="nosotros.html">NOSOTROS</a> 
            <a  class="items_menu"href="servicios.html">SERVICIOS</a> 
            <a  class="items_menu"href="contactos.html">CONTACTO</a> 
            
        </ul>
    </nav>
    
    <nav class="menu2">
        <p>Subcríbete a nuestro boletin</p>
        <div>
            <input type="text" placeholder="ingresa el email...">
            <button>subcribete</button>
        </div>
    </nav>
    <main>
        <section class="contacto">
            <h2>Contacto</h2>
            <div class="form">
                <form>
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Ingresa tu nombre">

                    <label for="">Email</label>
                    <input type="email" placeholder="Ingresa tu email">

                    <label for="">Telefono</label>
                    <input type="text" placeholder="Ingresa tu Teléfono">
                
                    <label for="">Celular</label>
                    <input type="text" placeholder="Ingresa tu Celular">
                    <label for="">Mensaje</label>
                    <textarea name="" id=""></textarea>
                    <button>enviar</button>
                    
                </form>
            </div>
            
        </section>
        <aside class="aside2">
            <h2>QUE hacemos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque adipisci recusandae molestiae, qLorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
                amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis
                 fuga nostrum maxime numquam distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aspernatur placeat enim temporibus, sequi est obcaecati sit beatae nulla natu
            </p>
            <img src="../assets/mapaGoogle.png" alt="mapa">
           
        </aside>
    

    </main>
    
    <footer>Graphel Desarrollo Web,Copyright©2017</footer>
</body>

</html>