<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Nosotros</title>
</head>

<body>
    <nav class="menu">
        <div>
            <p class="blanco">Diseño</p>
            <p class="azul">Multimedia</p>
        </div>
        <ul>
            <a class="items_menu azul2" href="../index.html">INICIO</a>
            <a  class="items_menu"href="nosotros.html">NOSOTROS</a> 
            <a  class="items_menu"href="servicios.html">SERVICIOS</a> 
            <a  class="items_menu"href="contactos.html">CONTACTO</a> 
            
        </ul>
    </nav>
    
    <nav class="menu2">
        <p>Subcríbete a nuestro boletin</p>
        <div>
            <input type="text" placeholder="ingresa el email...">
            <button>subcribete</button>
        </div>
    </nav>
    <main>
        <section class="nosotros">
            <h2>Nosotoros</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
             amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis
              fuga nostrum maxime numquam distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aspernatur placeat enim temporibus, sequi est obcaecati sit beatae nulla natus
               repudiandae mollitia, nobis explicabo reiciendis. Aut commodi aperiam quasi quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolore necessitatibus nemo, error vero, architecto omnis voluptas temporibus dicta amet fugit saepe aperiam! </p>
            <div class="gris">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque adipisci recusandae molestiae, qLorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
                    amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis
                     fuga nostrum maxime numquam distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aspernatur placeat enim temporibus, sequi est obcaecati sit beatae nulla natus
                      repudiandae mollitia, nobis explicabo reiciendis. Aut commodi aperiam quasi quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolore necessitatibus nemo, error vero, architecto omnis voluptas temporibus dicta amet fugit saepe aperiam!uaerat, nihil magnam natus dolores perferendis nemo beatae libero dolor labore dicta velit deserunt sunt ratione molestias!
    
                </p>
            </div>
            <img src="../assets/891.jpg" alt="">
        </section>
        <aside>
            <h2>QUE hacemos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque adipisci recusandae molestiae, qLorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
                amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis
                 fuga nostrum maxime numquam distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aspernatur placeat enim temporibus, sequi est obcaecati sit beatae nulla natu
            </p>
           
        </aside>
    

    </main>
    
    <footer>Graphel Desarrollo Web,Copyright©2017</footer>
</body>

</html>